@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;

    font-family: var(--font-geist-sans), "sans-serif" !important;
  }

  .form-control {
    @apply !h-10 !rounded-none ![box-shadow:none];
  }
}
